{
    "gateway_conf": {
        "gateway_ID": "",
        "contact_email" : "",
	"description": "",
	 "servers": [
            {
                "serv_type": "",
                "server_address": "",
                "serv_gw_id": "",
                "serv_gw_key": "",
                "serv_enabled": true
	    }
	],
	"gps": true,
        "fake_gps": true,
        "ref_latitude": 0,
        "ref_longitude": 0,
        "ref_altitude": 0
    }
}
