version: '3.2'

services:
  controller:
    image: pisupply/iot-lora-gw-controller:8145267a58c07f699f326854b2ce35f112c6c204
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - type: bind
        source: /opt/iotloragateway/config
        target: /opt/iotloragateway/config
      - type: bind
        source: /opt/iotloragateway/ssl
        target: /opt/iotloragateway/ssl
    restart: on-failure
  packet_forwarder:
    image: pisupply/iot-lora-gw-pktfwd:2b700b597c67bf13c9f4e4e7be7110363e1b0df3
    volumes:
      - type: bind
        source: /opt/iotloragateway/config
        target: /opt/iotloragateway/config
      - type: bind
        source: /sys
        target: /sys
    devices:
      - "/dev/spidev0.0:/dev/spidev0.0"
      - "/dev/mem:/dev/mem"
    cap_add:
      - SYS_RAWIO

    restart: on-failure
    environment:
      - LORAMODULE=0

  packet_forwarder_2:
    image: pisupply/iot-lora-gw-pktfwd:2b700b597c67bf13c9f4e4e7be7110363e1b0df3
    volumes:
      - type: bind
        source: /opt/iotloragateway/config
        target: /opt/iotloragateway/config
      - type: bind
        source: /sys
        target: /sys
    devices:
      - "/dev/spidev1.0:/dev/spidev1.0"
      - "/dev/mem:/dev/mem"
    cap_add:
      - SYS_RAWIO
    restart: on-failure
    environment:
      - LORAMODULE=1
