version: '3.2'

services:
  controller:
    image: pisupply/iot-lora-gw-controller:0cf7459b191c7482b9c6f67e64bfddcd7cd295b4
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - iot_lora_gateway_config:/opt/iotloragateway/config
      - iot_lora_gateway_ssl:/opt/iotloragateway/ssl
    restart: on-failure
  packet_forwarder:
    image: pisupply/iot-lora-gw-pktfwd:3db3e969108efdc3fcc66e565f907e5d7eb79989
    volumes:
      - type: volume
        source: iot_lora_gateway_config
        target: /opt/iotloragateway/config
      - type: bind
        source: /sys
        target: /sys
    devices:
      - "/dev/spidev0.0:/dev/spidev0.0"
      - "/dev/mem:/dev/mem"
    cap_add:
      - SYS_RAWIO

    restart: on-failure
    environment:
      - LORAMODULE=0
  packet_forwarder_2:
    image: pisupply/iot-lora-gw-pktfwd:3db3e969108efdc3fcc66e565f907e5d7eb79989
    volumes:
      - type: volume
        source: iot_lora_gateway_config
        target: /opt/iotloragateway/config
      - type: bind
        source: /sys
        target: /sys
    devices:
      - "/dev/spidev1.0:/dev/spidev1.0"
      - "/dev/mem:/dev/mem"
    cap_add:
      - SYS_RAWIO
    restart: on-failure
    environment:
      - LORAMODULE=1
volumes:
  iot_lora_gateway_config: {}
  iot_lora_gateway_ssl: {}
