version: '3.2'

services:
  controller:
    image: pisupply/iot-lora-gw-controller:7e8badd6b01cc7d23116f9034c93e0264e83d285
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - type: bind
        source: /opt/iotloragateway/config
        target: /opt/iotloragateway/config
      - type: bind
        source: /opt/iotloragateway/ssl
        target: /opt/iotloragateway/ssl
    restart: "no"

  packet_forwarder:
    image: pisupply/iot-lora-gw-pktfwd:dcd70cf4f1c0b1e5790a73fe4a22ad566dfe1c1e
    volumes:
      - type: bind
        source: /opt/iotloragateway/config
        target: /opt/iotloragateway/config
      - type: bind
        source: /sys
        target: /sys
    devices:
      - "/dev/spidev1.2:/dev/spidev1.2"
      - "/dev/spidev2.0:/dev/spidev2.0"
      - "/dev/mem:/dev/mem"
    cap_add:
     - SYS_RAWIO

    restart: "no"
    environment:
      - LORAMODULE=0
