version: '3.2'

services:
  controller:
    image: pisupply/iot-lora-gw-controller:85267e47d7cecb40f7e11ad515baec54d9e50957
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - type: volume
        source: iot_lora_gateway_config
        target: /opt/iotloragateway/config
      - type: volume
        source: iot_lora_gateway_ssl
        target: /opt/iotloragateway/ssl
      - type: bind
        source: /sys/power/state
        target: /sys/power/state
    restart: on-failure
  packet_forwarder:
    image: pisupply/iot-lora-gw-pktfwd:975396f09c71000338951cdac1b4bb33dbdab12e
    volumes:
      - type: volume
        source: iot_lora_gateway_config
        target: /opt/iotloragateway/config
      - type: bind
        source: /sys
        target: /sys
    devices:
      - "/dev/spidev0.0:/dev/spidev0.0"
      - "/dev/mem:/dev/mem"
    cap_add:
      - SYS_RAWIO

    restart: on-failure
    environment:
      - LORAMODULE=0

  packet_forwarder_2:
    image: pisupply/iot-lora-gw-pktfwd:975396f09c71000338951cdac1b4bb33dbdab12e
    volumes:
      - type: volume
        source: iot_lora_gateway_config
        target: /opt/iotloragateway/config
      - type: bind
        source: /sys
        target: /sys
    devices:
      - "/dev/spidev1.0:/dev/spidev1.0"
      - "/dev/mem:/dev/mem"
    cap_add:
      - SYS_RAWIO
    restart: on-failure
    environment:
      - LORAMODULE=1

volumes:
  iot_lora_gateway_config: {}
  iot_lora_gateway_ssl: {}
