version: '3.2'

services:
  controller:
    image: pisupply/iot-lora-gw-controller:72a6f425b96d6e99ef05a5d12e600c75d55712cd
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - type: bind
        source: /opt/iotloragateway/config
        target: /opt/iotloragateway/config
      - type: bind
        source: /opt/iotloragateway/ssl
        target: /opt/iotloragateway/ssl
    restart: on-failure
  packet_forwarder:
    image: pisupply/iot-lora-gw-pktfwd:97c7cc97f0ed29f91b01d473bfcd5b7d1e3d3096
    volumes:
      - type: bind
        source: /opt/iotloragateway/config
        target: /opt/iotloragateway/config
      - type: bind
        source: /sys
        target: /sys
    devices:
      - "/dev/spidev1.2:/dev/spidev1.2"
      - "/dev/mem:/dev/mem"
    cap_add:
      - SYS_RAWIO

    restart: on-failure
    environment:
      - LORAMODULE=0

  packet_forwarder_2:
    image: pisupply/iot-lora-gw-pktfwd:97c7cc97f0ed29f91b01d473bfcd5b7d1e3d3096
    volumes:
      - type: bind
        source: /opt/iotloragateway/config
        target: /opt/iotloragateway/config
      - type: bind
        source: /sys
        target: /sys
    devices:
      - "/dev/spidev2.0:/dev/spidev2.0"
      - "/dev/mem:/dev/mem"
    cap_add:
      - SYS_RAWIO
    restart: on-failure
    environment:
      - LORAMODULE=1
