version: '3.2'

services:
  controller:
    image: pisupply/iot-lora-gw-controller:c2d300271ab547a1494c4c4ca38b098c390a89e6
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - type: bind
        source: /opt/iotloragateway/config
        target: /opt/iotloragateway/config
      - type: bind
        source: /opt/iotloragateway/ssl
        target: /opt/iotloragateway/ssl
      - type: bind
        source: /opt/iotloragateway/ssl
        target: /run/systemd
    restart: "no"
    network_mode: host
    privileged: true

  packet_forwarder_0:
    image: pisupply/iot-lora-gw-pktfwd:bd1f6586c5472f22c21bf2b6bc52edb84e75480e
    volumes:
      - type: bind
        source: /opt/iotloragateway/config
        target: /opt/iotloragateway/config
      - type: bind
        source: /sys
        target: /sys
    devices:
      - "/dev/spidev0.0:/dev/spidev0.0"
      - "/dev/spidev1.2:/dev/spidev1.2"
      - "/dev/serial1:/dev/serial1"
      - "/dev/mem:/dev/mem"
    cap_add:
     - SYS_RAWIO
    environment:
    - LORAMODULE=0
    restart: "no"
    network_mode: host
    privileged: true


  packet_forwarder_1:
    image: pisupply/iot-lora-gw-pktfwd:bd1f6586c5472f22c21bf2b6bc52edb84e75480e
    volumes:
      - type: bind
        source: /opt/iotloragateway/config
        target: /opt/iotloragateway/config
      - type: bind
        source: /sys
        target: /sys
    devices:
      - "/dev/spidev2.0:/dev/spidev2.0"
      - "/dev/serial1:/dev/serial1"
      - "/dev/mem:/dev/mem"
    cap_add:
     - SYS_RAWIO
    environment:
    - LORAMODULE=1
    restart: "no"
    network_mode: host
    privileged: true
